.primaryBgColor {
  background: #595aac !important;
  color: white !important;
}

.primaryColor {
  color: #595aac !important;
}

.login-form {
  height: 100vh;
}
.app-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 350px 1fr;
  grid-template-rows: auto 1fr auto;
}
.sidebar {
  grid-column: 1;
  grid-row: 1 / 4;
  background: #041638;
}

.conversations {
  grid-column: 2;
  grid-row: 1 / 4;
}

.header {
  grid-column: 3;
  grid-row: 1;
  background: #0c6ca4;
  height: 5rem;
}

.messages {
  grid-column: 3;
  grid-row: 2;
  background: #dee5ed;
}

.input {
  grid-column: 3;
  grid-row: 3;
  /* height: 4rem; */
  background: #dee5ed;
}

.custom-message-input {
  padding: 0.75rem;
  width: 100%;
  border-radius: 0.5rem !important;
}

.header-info {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  align-items: center;
  color: white;
  margin-top: 0.5rem;
}

.header-info > div {
  padding-left: 1rem;
}
