.primaryBgColor {
  background: #595aac !important;
  color: white !important;
}

.primaryColor {
  color: #595aac !important;
}

.login-form {
  height: 100vh;
}
.app-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 300px 350px 1fr;
  grid-template-rows: auto 1fr auto;
}
.sidebar {
  grid-column: 1;
  grid-row: 1 / 4;
  background: #041638;
}

.conversations {
  grid-column: 2;
  grid-row: 1 / 4;
}

.homeHeader {
  grid-column: 3;
  grid-row: 1;
  background: #0c6ca4;
  height: 5rem;
}

.messages {
  grid-column: 3;
  grid-row: 2;
  background: #dee5ed;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.message-list {
  padding: 0;
}
.message-list > li {
  display: block;
}
.input {
  grid-column: 3;
  grid-row: 3;
  /* height: 4rem; */
  background: #dee5ed;
}

.custom-message-input {
  padding: 0.75rem;
  width: 100%;
  /* border-radius: 0.5rem !important; */
}

.header-info {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  align-items: center;
  color: white;
  margin-top: 0.5rem;
}

.header-info > div {
  padding-left: 1rem;
}
.conversation-new {
  width: 100% !important;
  text-align: center;
  height: 70px;
  padding: 1rem;
}
.talk-bubble {
  margin: 0.3125rem;
  display: inline-block;
  position: relative;
  width: 12.5rem;
  height: auto;
  background-color: lightyellow;
}

.tri-right.border.btm-left:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 2rem solid;
  border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;
}
.tri-right.border.btm-right:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.container-list {
  display: grid;
  grid-template-columns: 60px 200px 1fr;
  padding: 1.5rem;
}

.container-image {
  grid-column: 1;
}

.container-desc {
  grid-column: 2;
  margin-left: 1rem;
  margin-top: 0.5625rem;
}

.container-action {
  grid-column: 3;
  float: right;
}

.conversation-list {
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 0.5rem;
}

.conversation-image {
  grid-column: 1;
}

.conversation-content {
  grid-column: 2;
  margin-left: 1rem;
  margin-top: 0.5625rem;
}

a.active > div {
  color: white !important;
  background: #2185d094 !important;
}
